.App {
  text-align: center;

  --color-dark: #282c34;
  --color-primary: #004085;
  --color-light: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: var(--color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--color-dark);
}

.App-link {
  color: #09d3ac;
}
